In [2]:
import pandas as pd   # importing library

In [3]:
df = pd.read_csv('dataset/DataScientist.csv')

In [4]:
df.head(10)

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,2,2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1
5,5,5,Data Scientist,$111K-$181K (Glassdoor est.),Job Brief\n\nThe ideal candidate will have pre...,2.9,IFG Companies\n2.9,"New York, NY","Hartford, CT",201 to 500 employees,1985,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,"Colony Specialty, Markel, RLI",-1
6,6,6,Quantitative Researcher,$111K-$181K (Glassdoor est.),Experience: Entry-level (PhD Program) or Exper...,4.4,PDT Partners\n4.4,"New York, NY","New York, NY",51 to 200 employees,1993,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
7,7,7,Quantitative Research Associate,$111K-$181K (Glassdoor est.),Seeking a quant to work with senior researcher...,-1.0,Enlightenment Research,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
8,8,8,AI Scientist,$111K-$181K (Glassdoor est.),Paige is a software company helping pathologis...,5.0,Paige\n5.0,"New York, NY","New York, NY",1 to 50 employees,2018,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,True
9,9,9,Quantitative Researcher,$111K-$181K (Glassdoor est.),"About the Position\n\n\nAt Jane Street, we con...",4.8,Jane Street\n4.8,"New York, NY","New York, NY",501 to 1000 employees,2000,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1

In [5]:
df.set_index('index', inplace=True)

In [6]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
index,,,,,,,,,,,,,,,,
0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375,3904,AWS Data Engineer,$55K-$112K (Glassdoor est.),About Us\n\nTachyon Technologies is a Digital ...,4.4,Tachyon Technologies\n4.4,"Dublin, OH","Irving, TX",201 to 500 employees,2011,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),-1,-1
4376,3905,Data Analyst â Junior,$55K-$112K (Glassdoor est.),"Job description\nInterpret data, analyze resul...",5.0,"Staffigo Technical Services, LLC\n5.0","Columbus, OH","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4377,3906,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),Job DescriptionThe Security Analytics Data Eng...,3.8,"PDS Tech, Inc.\n3.8","Dublin, OH","Irving, TX",5001 to 10000 employees,1977,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),-1,-1
4378,3907,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),The Security Analytics Data Engineer will inte...,4.0,Data Resource Technologies\n4.0,"Dublin, OH","Omaha, NE",1 to 50 employees,-1,Company - Private,Accounting,Accounting & Legal,Less than $1 million (USD),-1,-1
4379,3908,Patient Safety Physician or Safety Scientist -...,$55K-$112K (Glassdoor est.),"Help us transform patients' lives.\nAt UCB, we...",3.7,UCB\n3.7,"Slough, OH","Brussel, Belgium",5001 to 10000 employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$2 to $5 billion (USD),AbbVie,-1

In [7]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply'],
      dtype='object')

In [8]:
df.drop(columns='Unnamed: 0', inplace=True)

In [9]:
df.head(3)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
index,,,,,,,,,,,,,,,
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True

In [10]:
df.shape

(3909, 15)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3909 entries, 0 to 4379
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          3909 non-null   object
 1   Salary Estimate    3909 non-null   object
 2   Job Description    3909 non-null   object
 3   Rating             3909 non-null   float64
 4   Company Name       3909 non-null   object
 5   Location           3909 non-null   object
 6   Headquarters       3909 non-null   object
 7   Size               3909 non-null   object
 8   Founded            3909 non-null   int64
 9   Type of ownership  3909 non-null   object
 10  Industry           3909 non-null   object
 11  Sector             3909 non-null   object
 12  Revenue            3909 non-null   object
 13  Competitors        3909 non-null   object
 14  Easy Apply         3909 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 488.6+ KB

In [12]:
df2 = pd.read_csv('dataset/DataAnalyst.csv', encoding="latin")

In [13]:
df2.head(10)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâre looking for a Senior Data Analyst who ...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
5,5,Data Analyst,$37K-$66K (Glassdoor est.),About Cubist\nCubist Systematic Strategies is ...,3.9,Point72\n3.9,"New York, NY","Stamford, CT",1001 to 5000 employees,2014,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
6,6,Business/Data Analyst (FP&A),$37K-$66K (Glassdoor est.),Two Sigma is a different kind of investment ma...,4.4,Two Sigma\n4.4,"New York, NY","New York, NY",1001 to 5000 employees,2001,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
7,7,Data Science Analyst,$37K-$66K (Glassdoor est.),Data Science Analyst\n\nJob Details\nLevel\nEx...,3.7,GNY Insurance Companies\n3.7,"New York, NY","New York, NY",201 to 500 employees,1914,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),"Travelers, Chubb, Crum & Forster",True
8,8,Data Analyst,$37K-$66K (Glassdoor est.),The Data Analyst is an integral member of the ...,4.0,DMGT\n4.0,"New York, NY","London, United Kingdom",5001 to 10000 employees,1896,Company - Public,Venture Capital & Private Equity,Finance,$1 to $2 billion (USD),"Thomson Reuters, Hearst, Pearson",-1
9,9,"Data Analyst, Merchant Health",$37K-$66K (Glassdoor est.),About Us\n\nRiskified is the AI platform power...,4.4,Riskified\n4.4,"New York, NY","New York, NY",501 to 1000 employees,2013,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,"Signifyd, Forter",-1

In [14]:
df2.shape

(2253, 16)

In [15]:
df2.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply'],
      dtype='object')

In [16]:
df2.rename(columns={'Unnamed: 0': 'index'})

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâre looking for a Senior Data Analyst who ...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [17]:
df2

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâre looking for a Senior Data Analyst who ...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [18]:
df2.rename(columns={'Unnamed: 0': 'index'}, inplace=True)

In [19]:
df2.head(3)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâre looking for a Senior Data Analyst who ...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1

In [20]:
df2.set_index('index', inplace=True)

In [21]:
df2.shape

(2253, 15)

## Dataset 
Having loaded both dataset (DataAnalyst and DataScientist) into DataFrame, only DataScientist dataset will be use for this project as it has more data.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

__The columns will be prepared in the foolowing order__
* Company Name: stripping the rating values
* Location: parsing state code
* HQ: check if job is in same location or in HQ
* Size: Parsing (Min, Max, Na) strip -1 with 0
* Founded: age of company strip -1 with 0
* Type of ownership: categorize 
* Industry
* Sector
* Revenue
* Competitors

In [22]:
# Configure the display settings
pd.set_option('display.max_rows', None)

In [23]:
df.head(20)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
index,,,,,,,,,,,,,,,
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1
5,Data Scientist,$111K-$181K (Glassdoor est.),Job Brief\n\nThe ideal candidate will have pre...,2.9,IFG Companies\n2.9,"New York, NY","Hartford, CT",201 to 500 employees,1985,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,"Colony Specialty, Markel, RLI",-1
6,Quantitative Researcher,$111K-$181K (Glassdoor est.),Experience: Entry-level (PhD Program) or Exper...,4.4,PDT Partners\n4.4,"New York, NY","New York, NY",51 to 200 employees,1993,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
7,Quantitative Research Associate,$111K-$181K (Glassdoor est.),Seeking a quant to work with senior researcher...,-1.0,Enlightenment Research,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
8,AI Scientist,$111K-$181K (Glassdoor est.),Paige is a software company helping pathologis...,5.0,Paige\n5.0,"New York, NY","New York, NY",1 to 50 employees,2018,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,True
9,Quantitative Researcher,$111K-$181K (Glassdoor est.),"About the Position\n\n\nAt Jane Street, we con...",4.8,Jane Street\n4.8,"New York, NY","New York, NY",501 to 1000 employees,2000,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
10,Data Scientist,$111K-$181K (Glassdoor est.),Company Description:\n\nQuartet is a pioneerin...,3.9,Quartet Health\n3.9,"New York, NY","New York, NY",201 to 500 employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,True
11,Data Scientist/Machine Learning,$111K-$181K (Glassdoor est.),"PulsePoint™, a global programmatic advertising...",4.4,PulsePoint\n4.4,"New York, NY","New York, NY",51 to 200 employees,2011,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"Crossix Solutions Inc., AppNexus, The Trade Desk",-1
12,"Data Scientist, Acorn AI Labs",$111K-$181K (Glassdoor est.),Medidata: Conquering Diseases Together\n\nMedi...,4.3,Medidata Solutions\n4.3,"New York, NY","New York, NY",1001 to 5000 employees,1999,Company - Public,Enterprise Software & Network Solutions,Information Technology,$500 million to $1 billion (USD),Oracle,-1
13,Data Scientist,$111K-$181K (Glassdoor est.),A Career with Point72’s MI Data team\nAt Point...,3.9,Point72\n3.9,"New York, NY","Stamford, CT",1001 to 5000 employees,2014,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
14,Data Scientist - Alpha Insights,$111K-$181K (Glassdoor est.),Two Sigma is a different kind of investment ma...,4.4,Two Sigma\n4.4,"New York, NY","New York, NY",1001 to 5000 employees,2001,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
15,Data Scientist,$111K-$181K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,3.0,Affinity Solutions\n3.0,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",True
16,"Data Scientist, Analytics",$111K-$181K (Glassdoor est.),"Company DescriptionAs an Etsy employee, you ca...",3.6,Etsy\n3.6,"Brooklyn, NY","Brooklyn, NY",501 to 1000 employees,2005,Company - Public,Other Retail Stores,Retail,$100 to $500 million (USD),"Airbnb, Warby Parker, Kickstarter",-1
17,Data Scientist/ML Engineer,$111K-$181K (Glassdoor est.),Data Scientist/ML Engineer\n\nApply Now\n\nBec...,3.3,PA Consulting\n3.3,"New York, NY","London, United Kingdom",1001 to 5000 employees,1943,Company - Private,Consulting,Business Services,$100 to $500 million (USD),"McKinsey & Company, Accenture, Deloitte",-1
18,Data Scientist,$111K-$181K (Glassdoor est.),Job Description\nCompany Description\n\nAs an ...,3.6,Etsy\n3.6,"New York, NY","Brooklyn, NY",501 to 1000 employees,2005,Company - Public,Other Retail Stores,Retail,$100 to $500 million (USD),"Airbnb, Warby Parker, Kickstarter",-1
19,"VP, Data Science",$111K-$181K (Glassdoor est.),"We are looking for a VP, Data Science to lead ...",3.9,7Park Data\n3.9,"New York, NY","New York, NY",51 to 200 employees,2012,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,-1,-1

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3909 entries, 0 to 4379
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          3909 non-null   object
 1   Salary Estimate    3909 non-null   object
 2   Job Description    3909 non-null   object
 3   Rating             3909 non-null   float64
 4   Company Name       3909 non-null   object
 5   Location           3909 non-null   object
 6   Headquarters       3909 non-null   object
 7   Size               3909 non-null   object
 8   Founded            3909 non-null   int64
 9   Type of ownership  3909 non-null   object
 10  Industry           3909 non-null   object
 11  Sector             3909 non-null   object
 12  Revenue            3909 non-null   object
 13  Competitors        3909 non-null   object
 14  Easy Apply         3909 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 488.6+ KB

### Job Title: Categorizing  job title into different field of career

In [25]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply'],
      dtype='object')

In [26]:
# Created a function to iterate through the Series for data scientist  job listing title

def job_cat(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'Data Engineer'
    elif 'data analyst' in title.lower():
        return 'data analyst'
    elif 'machine learning' in title.lower():
        return 'machine learning'
    elif 'business' in title.lower():
        return 'business i/da'
    else:
        return 'na'

In [27]:
# Created a function to iterate through the Series for level of job listing title

def seniority(level):
    if 'senior' in level.lower() or 'sr' in level.lower() or 'lead' in level.lower() or 'principal' in level.lower() or 'manager' in level.lower():
        return 'senior'
    elif 'junior' in level.lower():
        return 'junior'
    else:
        return 'na'

In [28]:
df['job_cat'] = df['Job Title'].apply(job_cat)

In [29]:
df['job_cat'].value_counts()

na                  1201
data scientist       984
data analyst         747
Data Engineer        742
machine learning     140
business i/da         95
Name: job_cat, dtype: int64

In [30]:
df['entry_level'] = df['Job Title'].apply(seniority)

In [31]:
df['entry_level'].value_counts()

na        2881
senior     993
junior      35
Name: entry_level, dtype: int64

### Salary Estimate: parsing (Min, Max, Hourly)

In [32]:
df['Salary Estimate'].head(5)

index
0    $111K-$181K (Glassdoor est.)
1    $111K-$181K (Glassdoor est.)
2    $111K-$181K (Glassdoor est.)
3    $111K-$181K (Glassdoor est.)
4    $111K-$181K (Glassdoor est.)
Name: Salary Estimate, dtype: object

In [33]:
#Hourly Salary 

df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

In [34]:
df['hourly'].value_counts()

0    3888
1      21
Name: hourly, dtype: int64

In [35]:
# removing (Glassdoor est.), $ and K 

salary_est = df['Salary Estimate'].apply(lambda x: x.split('(')[0].replace('$', '').replace('K', ''))

In [36]:
salary_est = salary_est.apply(lambda x: x.lower().replace('per hour', '').strip())

In [38]:
salary_est.head()

index
0    111-181
1    111-181
2    111-181
3    111-181
4    111-181
Name: Salary Estimate, dtype: object

In [39]:
# Minimum Salary

df['min_salary'] = salary_est.apply(lambda x: x.split('-')[0])

In [40]:
#Conver the Series to integer

df['min_salary'] = df['min_salary'].astype('int')
df['min_salary'].head(3)

index
0    111
1    111
2    111
Name: min_salary, dtype: int32

In [41]:
# Maximum Salary

df['max_salary'] = salary_est.apply(lambda x: x.split('-')[1])

In [42]:
# Conver the Series to integer

df['max_salary'] = df['max_salary'].astype('int')
df['max_salary'].head(3)

index
0    181
1    181
2    181
Name: max_salary, dtype: int32

In [43]:
# Average Salary

df['Avg_salary'] = (df['min_salary'] + df['max_salary']) / 2

In [44]:
df['Avg_salary'].head()

index
0    146.0
1    146.0
2    146.0
3    146.0
4    146.0
Name: Avg_salary, dtype: float64

### Job Desc.: parsing (python, R, Spark, Aws, Excel, Sql, etc..)

In [45]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'job_cat', 'entry_level', 'hourly', 'min_salary',
       'max_salary', 'Avg_salary'],
      dtype='object')

    Skill/Tools required that is found in the job listing

In [46]:
# Python
df['Python_req'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [47]:
df['Python_req'].value_counts()

1    2057
0    1852
Name: Python_req, dtype: int64

In [48]:
# R Studio
df['RStudio_req'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0 )

In [49]:
df['RStudio_req'].value_counts()

0    3891
1      18
Name: RStudio_req, dtype: int64

In [50]:
# Saprk
df['Spark_req'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() or 'apache spark' in x.lower() else 0 )

In [51]:
df['Spark_req'].value_counts()

0    3012
1     897
Name: Spark_req, dtype: int64

In [52]:
# AWS
df['Aws_req'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0 )

In [53]:
df['Aws_req'].value_counts()

0    2960
1     949
Name: Aws_req, dtype: int64

In [54]:
# Excel
df['Excel_req'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0 )

In [55]:
df['Excel_req'].value_counts()

0    2054
1    1855
Name: Excel_req, dtype: int64

### Rating: replace -1 with 0

In [56]:
df['Rating'].head(10)

index
0    3.5
1    4.5
2   -1.0
3    3.4
4    3.4
5    2.9
6    4.4
7   -1.0
8    5.0
9    4.8
Name: Rating, dtype: float64

In [57]:
df['Rating'].replace(-1.0, 0.0, inplace=True)

In [58]:
df['Rating'].head(5)

index
0    3.5
1    4.5
2    0.0
3    3.4
4    3.4
Name: Rating, dtype: float64

### Company Name: stripping the rating values

In [59]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'job_cat', 'entry_level', 'hourly', 'min_salary',
       'max_salary', 'Avg_salary', 'Python_req', 'RStudio_req', 'Spark_req',
       'Aws_req', 'Excel_req'],
      dtype='object')

In [60]:
df['Company Name'].head(10)

index
0                        Hopper\n3.5
1                       Noom US\n4.5
2                           Decode_M
3              Sapphire Digital\n3.4
4    United Entertainment Group\n3.4
5                 IFG Companies\n2.9
6                  PDT Partners\n4.4
7             Enlightenment Research
8                         Paige\n5.0
9                   Jane Street\n4.8
Name: Company Name, dtype: object

In [61]:
df['Company_nm'] = df.apply(lambda x: x['Company Name'] if x['Rating'] == 0 else x['Company Name'][:-4], axis=1)

In [62]:
df['Company_nm'].head(10)

index
0                        Hopper
1                       Noom US
2                      Decode_M
3              Sapphire Digital
4    United Entertainment Group
5                 IFG Companies
6                  PDT Partners
7        Enlightenment Research
8                         Paige
9                   Jane Street
Name: Company_nm, dtype: object

### Location: parsing state code

In [63]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'job_cat', 'entry_level', 'hourly', 'min_salary',
       'max_salary', 'Avg_salary', 'Python_req', 'RStudio_req', 'Spark_req',
       'Aws_req', 'Excel_req', 'Company_nm'],
      dtype='object')

In [64]:
df['Location'].head(5)

index
0     New York, NY
1     New York, NY
2     New York, NY
3    Lyndhurst, NJ
4     New York, NY
Name: Location, dtype: object

In [65]:
df['Job_state'] = df['Location'].apply(lambda x: x.split(',')[1])

In [66]:
df['Job_state'].head(5)

index
0     NY
1     NY
2     NY
3     NJ
4     NY
Name: Job_state, dtype: object

In [67]:
df['Job_state'].value_counts()

 TX                1253
 CA                1069
 IL                 363
 PA                 324
 NY                 313
 AZ                 295
 OH                 177
 FL                  69
 NJ                  32
 DE                  10
 United Kingdom       4
Name: Job_state, dtype: int64

In [68]:
df['Job_state'] = df['Job_state'].apply(lambda x: x.replace('United Kingdom', 'UK'))

In [69]:
df['Job_state'].value_counts()

 TX    1253
 CA    1069
 IL     363
 PA     324
 NY     313
 AZ     295
 OH     177
 FL      69
 NJ      32
 DE      10
 UK       4
Name: Job_state, dtype: int64

#### Headquarter: check if job is in same location or in HQ

In [70]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'job_cat', 'entry_level', 'hourly', 'min_salary',
       'max_salary', 'Avg_salary', 'Python_req', 'RStudio_req', 'Spark_req',
       'Aws_req', 'Excel_req', 'Company_nm', 'Job_state'],
      dtype='object')

In [71]:
df['Headquarters'].head(20)

index
0           Montreal, Canada
1               New York, NY
2               New York, NY
3              Lyndhurst, NJ
4               New York, NY
5               Hartford, CT
6               New York, NY
7               New York, NY
8               New York, NY
9               New York, NY
10              New York, NY
11              New York, NY
12              New York, NY
13              Stamford, CT
14              New York, NY
15              New York, NY
16              Brooklyn, NY
17    London, United Kingdom
18              Brooklyn, NY
19              New York, NY
Name: Headquarters, dtype: object

In [72]:
df['Same_state'] = df.apply(lambda x: 1 if x['Location'] in x['Headquarters'] else 0, axis=1)

In [73]:
df['Same_state'].value_counts()

0    2688
1    1221
Name: Same_state, dtype: int64

#### Size: Parsing (Min, Max, Na) strip -1 with 0

In [74]:
df['Size'].value_counts()

10000+ employees           993
51 to 200 employees        563
1001 to 5000 employees     553
1 to 50 employees          550
201 to 500 employees       418
501 to 1000 employees      307
-1                         229
5001 to 10000 employees    219
Unknown                     77
Name: Size, dtype: int64

In [75]:
df['Size'].replace({'-1': 'Na', 'Unknown': 'Na' }, inplace=True)

In [76]:
df['Size'].value_counts()

10000+ employees           993
51 to 200 employees        563
1001 to 5000 employees     553
1 to 50 employees          550
201 to 500 employees       418
501 to 1000 employees      307
Na                         306
5001 to 10000 employees    219
Name: Size, dtype: int64

#### Founded: 
Get the age of company while stripping -1 with 0.

In [77]:
df['Founded'].head(10)

index
0    2007
1    2008
2      -1
3    2019
4    2007
5    1985
6    1993
7      -1
8    2018
9    2000
Name: Founded, dtype: int64

In [78]:
df['Founded'].replace(-1, 0, inplace=True)

In [79]:
df['Founded'].head(10)

index
0    2007
1    2008
2       0
3    2019
4    2007
5    1985
6    1993
7       0
8    2018
9    2000
Name: Founded, dtype: int64

In [80]:
df['Age'] = df['Founded'].apply(lambda x: x if x == 0 else 2022 - x)

In [81]:
df['Age'].head(10)

index
0    15
1    14
2     0
3     3
4    15
5    37
6    29
7     0
8     4
9    22
Name: Age, dtype: int64

#### Type of ownership: categorize

In [82]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'job_cat', 'entry_level', 'hourly', 'min_salary',
       'max_salary', 'Avg_salary', 'Python_req', 'RStudio_req', 'Spark_req',
       'Aws_req', 'Excel_req', 'Company_nm', 'Job_state', 'Same_state', 'Age'],
      dtype='object')

In [83]:
df['Type of ownership'].value_counts()

Company - Private                 1933
Company - Public                  1114
-1                                 229
Nonprofit Organization             207
Subsidiary or Business Segment     160
Government                          91
College / University                77
Unknown                             38
Contract                            17
Hospital                            16
Private Practice / Firm             12
School / School District             5
Other Organization                   5
Self-employed                        4
Franchise                            1
Name: Type of ownership, dtype: int64

In [84]:
df['Type of ownership'].replace({'-1': 'Na','Unknown': 'Na'}, inplace=True)

In [85]:
df['Type of ownership'].value_counts()

Company - Private                 1933
Company - Public                  1114
Na                                 267
Nonprofit Organization             207
Subsidiary or Business Segment     160
Government                          91
College / University                77
Contract                            17
Hospital                            16
Private Practice / Firm             12
School / School District             5
Other Organization                   5
Self-employed                        4
Franchise                            1
Name: Type of ownership, dtype: int64

In [86]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'job_cat', 'entry_level', 'hourly', 'min_salary',
       'max_salary', 'Avg_salary', 'Python_req', 'RStudio_req', 'Spark_req',
       'Aws_req', 'Excel_req', 'Company_nm', 'Job_state', 'Same_state', 'Age'],
      dtype='object')

#### Industry: categorize

In [87]:
df['Industry'].head(20)

index
0                             Travel Agencies
1                   Health, Beauty, & Fitness
2                                          -1
3                                    Internet
4                     Advertising & Marketing
5                          Insurance Carriers
6       Investment Banking & Asset Management
7                                          -1
8     Enterprise Software & Network Solutions
9       Investment Banking & Asset Management
10    Enterprise Software & Network Solutions
11                                   Internet
12    Enterprise Software & Network Solutions
13      Investment Banking & Asset Management
14      Investment Banking & Asset Management
15                    Advertising & Marketing
16                        Other Retail Stores
17                                 Consulting
18                        Other Retail Stores
19                     Research & Development
Name: Industry, dtype: object

In [88]:
df['Industry'].value_counts()

-1                                          546
IT Services                                 472
Staffing & Outsourcing                      313
Biotech & Pharmaceuticals                   293
Computer Hardware & Software                264
Internet                                    238
Health Care Services & Hospitals            197
Consulting                                  166
Enterprise Software & Network Solutions     150
Investment Banking & Asset Management       109
Advertising & Marketing                      93
Insurance Carriers                           91
Colleges & Universities                      84
Banks & Credit Unions                        64
Accounting                                   64
Research & Development                       60
Federal Agencies                             57
Lending                                      41
Aerospace & Defense                          37
Video Games                                  30
Architectural & Engineering Services         25
TV Broadcast & Cable Networks                23
Electrical & Electronic Manufacturing        19
Department, Clothing, & Shoe Stores          18
Health, Beauty, & Fitness                    18
Insurance Agencies & Brokerages              18
Brokerage Services                           17
Other Retail Stores                          17
Financial Analytics & Research               17
Financial Transaction Processing             16
Health Care Products Manufacturing           16
State & Regional Agencies                    15
Construction                                 15
Oil & Gas Services                           15
Social Assistance                            14
Food & Beverage Manufacturing                13
Consumer Products Manufacturing              12
Real Estate                                  12
Motion Picture Production & Distribution     12
Education Training Services                  12
Transportation Equipment Manufacturing       11
Energy                                       11
Telecommunications Services                  11
Wholesale                                    11
Municipal Governments                        10
Cable, Internet & Telephone Providers         9
Industrial Manufacturing                      9
Logistics & Supply Chain                      8
Grocery Stores & Supermarkets                 8
Chemical Manufacturing                        7
Legal                                         7
Automotive Parts & Accessories Stores         6
Publishing                                    6
Food & Beverage Stores                        5
K-12 Education                                5
Oil & Gas Exploration & Production            5
Casual Restaurants                            5
Sports & Recreation                           5
Vehicle Dealers                               4
Pet & Pet Supplies Stores                     4
Consumer Electronics & Appliances Stores      4
Membership Organizations                      4
Stock Exchanges                               4
Utilities                                     3
Gas Stations                                  3
Farm Support Services                         3
Building & Personnel Services                 3
Security Services                             3
Trucking                                      2
Gambling                                      2
Audiovisual                                   2
Express Delivery Services                     2
Radio                                         2
Convenience Stores & Truck Stops              2
Fast-Food & Quick-Service Restaurants         2
Travel Agencies                               2
Cruise Ships                                  2
News Outlet                                   2
Grantmaking Foundations                       2
Food Production                               2
Transportation Management                     2
Venture Capital & Private Equity              2
Telecommunications Manufacturing              1
Home Furniture & Housewares Stores            1
Self-Storage Services                         1
Religious Organizations                       1
Shipping                                      1
Health Fundraising Organizations              1
Consumer Product Rental                       1
Museums, Zoos & Amusement Parks               1
Sporting Goods Stores                         1
Commercial Equipment Rental                   1
Metals Brokers                                1
Truck Rental & Leasing                        1
Beauty & Personal Accessories Stores          1
Auto Repair & Maintenance                     1
Name: Industry, dtype: int64

In [89]:
df['Industry'].replace('-1', 'Others', inplace=True)

In [90]:
df['Industry'].head()

index
0              Travel Agencies
1    Health, Beauty, & Fitness
2                       Others
3                     Internet
4      Advertising & Marketing
Name: Industry, dtype: object

In [91]:
df['Sector'].head(10)

index
0          Travel & Tourism
1         Consumer Services
2                        -1
3    Information Technology
4         Business Services
5                 Insurance
6                   Finance
7                        -1
8    Information Technology
9                   Finance
Name: Sector, dtype: object

In [92]:
df['Sector'].value_counts()

Information Technology                1124
Business Services                      679
-1                                     546
Biotech & Pharmaceuticals              293
Finance                                270
Health Care                            197
Insurance                              109
Education                              101
Manufacturing                           87
Government                              82
Media                                   75
Retail                                  72
Accounting & Legal                      71
Aerospace & Defense                     37
Oil, Gas, Energy & Utilities            34
Telecommunications                      21
Consumer Services                       20
Non-Profit                              18
Construction, Repair & Maintenance      16
Transportation & Logistics              16
Real Estate                             12
Arts, Entertainment & Recreation        10
Restaurants, Bars & Food Services        9
Agriculture & Forestry                   5
Travel & Tourism                         4
Mining & Metals                          1
Name: Sector, dtype: int64

In [93]:
df['Sector'].replace('-1', 'Others', inplace=True)

In [94]:
df['Sector'].head(10)

index
0          Travel & Tourism
1         Consumer Services
2                    Others
3    Information Technology
4         Business Services
5                 Insurance
6                   Finance
7                    Others
8    Information Technology
9                   Finance
Name: Sector, dtype: object

In [95]:
df['Revenue'].head(20)

index
0             Unknown / Non-Applicable
1             Unknown / Non-Applicable
2             Unknown / Non-Applicable
3             Unknown / Non-Applicable
4             Unknown / Non-Applicable
5             Unknown / Non-Applicable
6             Unknown / Non-Applicable
7             Unknown / Non-Applicable
8             Unknown / Non-Applicable
9             Unknown / Non-Applicable
10            Unknown / Non-Applicable
11          $100 to $500 million (USD)
12    $500 million to $1 billion (USD)
13            Unknown / Non-Applicable
14            Unknown / Non-Applicable
15            Unknown / Non-Applicable
16          $100 to $500 million (USD)
17          $100 to $500 million (USD)
18          $100 to $500 million (USD)
19            Unknown / Non-Applicable
Name: Revenue, dtype: object

In [96]:
df['Revenue'].value_counts()

Unknown / Non-Applicable            1163
$10+ billion (USD)                   599
$100 to $500 million (USD)           338
-1                                   229
$50 to $100 million (USD)            214
$2 to $5 billion (USD)               211
$10 to $25 million (USD)             191
$1 to $2 billion (USD)               180
$1 to $5 million (USD)               170
$25 to $50 million (USD)             143
$5 to $10 billion (USD)              133
Less than $1 million (USD)           124
$500 million to $1 billion (USD)     114
$5 to $10 million (USD)              100
Name: Revenue, dtype: int64

In [97]:
df['Revenue'].replace({'-1': 'Others', 'Unknown / Non-Applicable': 'Others'}, inplace=True)

In [98]:
df['Revenue'].value_counts()

Others                              1392
$10+ billion (USD)                   599
$100 to $500 million (USD)           338
$50 to $100 million (USD)            214
$2 to $5 billion (USD)               211
$10 to $25 million (USD)             191
$1 to $2 billion (USD)               180
$1 to $5 million (USD)               170
$25 to $50 million (USD)             143
$5 to $10 billion (USD)              133
Less than $1 million (USD)           124
$500 million to $1 billion (USD)     114
$5 to $10 million (USD)              100
Name: Revenue, dtype: int64

In [99]:
df.to_csv('dataset/data_salary_cleaned.csv')